@font-face {
    font-family: 'Roboto Condensed';
    src: url(fonts/Roboto-Condensed.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(fonts/Roboto-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
}

body {
    overflow: hidden;
    color: #fff;
    background: #2C2C2C;
    font-family: 'Roboto Regular', Helvetica, Arial, sans-serif;
}

a {
    color: #e58f33;
}

.small {
    font-size: 1rem;
}

.large {
    font-size: 1.5rem;
}

#app {
    border: 0 none;
}

#ghostCanvasContainer, #canvasContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#canvasContainer canvas {
    display: block;
    margin: 0 auto;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
}

#additionalControls {
    display: none;

    height: 100%;
    width: 100%;
    position: absolute;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    z-index: 10;
}
    #additionalControls > input {
        padding: 0 0.5rem;
    }

#ghostCanvasContainer {
    -webkit-transition: 0.8s ease-out;
    transition: 0.8s ease-out;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

#ghostCanvasContainer canvas {
    display: block;
    margin: 0 auto;
}

#ghostCanvasContainer.faded_out {
    /* Why 2rem? For making it look as if we're moving the image into the Gallery button */
    -webkit-transform: translate(calc(-50% + 2rem), calc(-50% + 1rem)) scale3d(0.01, 0.01, 1) rotateZ(-300deg);
    transform: translate(calc(-50% + 2rem), calc(-50% + 1rem)) scale3d(0.01, 0.01, 1) rotateZ(-300deg);
    opacity: 0;
}

#flasher {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.on_animation {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-name: flash_it;
    animation-duration: 0.4s;
    animation-name: flash_it;
}

@keyframes flash_it {
    from {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes flash_it {
    from {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

x-appbar {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 20;
}
    x-appbar > * {
        z-index: 0;
    }

x-appbar header:after {
    display: none;
}


#btnGallery {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    margin: 0.25rem 0.5rem;
    padding: 0.5rem;
    transition: opacity 0.8s;
    background-image: url(../img/icons/icn-back-arrow@2x.png);
    background-repeat:no-repeat;
    border:0px;
    background-color:rgba(0,0,0,0);
    background-size:13px 20px;
    background-position:left center;
    margin-left:10px;
    font-family: 'Roboto Light', sans-serif;
    padding:12px 15px;
}

#btnGallery.hidden {
    opacity: 0;
}

h1 {
    font-weight: normal;
    font-size: 2rem;
    padding: 0.25rem 0;
    font-family: 'Roboto Light', sans-serif;    
    text-align: center;
}

h1 span {
    color: #e58f33;
}

/* TODO: might need to delete this one */
button {
    font-family: inherit;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    transition: 0.3s background;
}

button:hover {
    background-color: #e58f33;
}

#app x-deck {
    width: 100%;
    height: 100%;
}

#app x-card {
    overflow: auto;
}

x-card footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    z-index: 100;
    padding: 0.5rem 0;
    background: rgba(30, 30, 30, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

x-card footer button + button {
    margin-left: 1rem;
}

#gallery p {
    text-align: center;
    opacity:0.5;
    font-family: 'Roboto Light', sans-serif;
}

#gallery .loading:before {
    content: "";
    background-image: url(spinner.gif);
    background-repeat: no-repeat;
    background-position: 8px 50%;
    padding-left: 32px;
}

#galleryContainer {
    height: 100%;
    overflow-y: scroll;
    padding: 0 0.5rem;
}

#galleryContainer div div {
    height: 10rem;
    width: 10rem;
    background-color: #ccc;
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0.5rem;
    border-radius: 2px;
    border: 1px solid #979797;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.5);
}

#galleryCoachMarks {
    padding: 1rem;
    color: #ddd;
    opacity: 0; /* initially hidden */
    width: 90%;
}

/* TODO review these */
/*p.imgmarker img {
    height:97px;
}

img.galleryCoachMarkscamera {
    height:14px;
}

img.galleryCoachMarksfilepicker {
    height:14px;
}*/

#galleryCoachMarks p {
    margin-bottom: 1rem;
    line-height:24px;
}

#galleryCoachMarks ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    list-style-position: inside;
}

#galleryCoachMarks li {
    background-repeat: no-repeat;
    background-position: 0 0px;
    background-size: 48px 48px;
    padding: 12px 0px 25px 64px;
}

#coachCamera, #coachPick {
    background-image: url(../img/icons/icn-coachmark-press.png);
}

#btnCamera, #btnPicker {
    background-repeat: no-repeat;
    border: 0px;
    background-color:rgba(0,0,0,0);
    background-position:center;
    margin: 0 0.5rem;
}

#btnCamera {
    display: none;
    background-image: url(../img/icons/icn-camera@2x.png);
    background-size: 37px 29px;
}

#btnPicker {
    background-image: url(../img/icons/icn-filepicker@2x.png);
    background-size: 31px 29px;
}


#details > div {
    height: 100%;
    overflow-y: auto;
    width: 100%;
    text-align: center;
}

/* TODO might need to delete */
#actions {
    padding: 10px 0;
    background:rgba(30,30,30,0.5);
}

#actions button + button {
    margin-left: 1rem;
}

#actions div {
    padding: 0.5rem 0;
}

#galleryUploading {
    padding: 5%;
    background: #fff;
    color: #000;
}

#camera {
    text-align: center;
}

.controls {
    position: absolute;
    z-index: 100;
}

#camera header {
    top: 0;
    width: 100%;
}

#videoControls {
    opacity: 0;
    display: none;
    transition: opacity 0.3s;
    background: rgba(0, 0, 0, 0.3);
}

#videoControls progress {
    border-width: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 4px;
    vertical-align: middle;
}

progress::-moz-progress-bar {
    background: #e58f33;
}

#progressLabel span {
    padding: 0.25rem 0;
    transition: all 0.5s;
}

.rendering #progressLabel span {
    background-image: url(spinner.gif);
    background-repeat: no-repeat;
    background-position: 8px 50%;
    padding-left: 32px;
}

#videoControls input {
    max-width: 24px;
    max-height: 24px;
    vertical-align: middle;
}

#videoControls.rendering progress, #videoControls.rendering input {
    display: none;
}

#cameraCoachMarks {
    color: #ddd;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1em;
    padding: 1em;
    opacity: 0;
    transition: opacity 1s;
    font-size: 1.2rem;
    list-style-type: none;
    list-style-position: inside;
    width: 90%;
    max-width: 600px;
}

#cameraCoachMarks li {
    background-repeat: no-repeat;
    background-position: 0 12px;
    background-size: 48px 48px;
    padding-left: 64px;
    padding-top: 12px;
    padding-bottom: 25px;
}

#press {
    background-image: url(../img/icons/icn-coachmark-press.png);
}

#arrows {
    background-image: url(../img/icons/icn-coachmark-arrows.png);
}

#cameraCoachMarks li + li {
    margin-top: 2rem;
}

#switchVideo {
    opacity: 0;
    transition: opacity 1s;
    border-color: #333;
    border-width: 2px;
    font-family: 'Roboto Regular', sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    vertical-align: middle;
    text-shadow: 0 0 2px #000;
    text-transform: uppercase;
    color: #aaa;
    height: 30px;
    border-radius:2px;
}

#switchVideo, #switchVideo[checked], #switchVideo .x-switch-background {
    background: #222;
}

.x-switch-text {
    padding: 0.2rem 0.95rem;
}

.x-switch-knob {
    background: #e58f33;
    width: 40px;
}

#filePicker {
    background: #fff;
    color: #000;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 200;
    width: 90%;
    max-width: 30rem;
}

#filePicker button {
    margin: 1rem 0 0.5rem 0;
    width: 100%;
    text-align: center;
}

/* Add padding to some cards so that their content is not initially obscured by the fancy and     translucent app bar */

#galleryContainer, #details {
    padding-top: 3rem;
}


x-deck > x-card:not([selected]):not([leaving]) {
    display: none;
    pointer-events: none;
}

/* Overwriting the defaults to have a nice transition when closing the file picker */
x-modal {
    transition: opacity 0.5s;
    opacity: 1;
}

x-modal[hidden] {
    display: block;
    opacity: 0;
}

x-modal[hidden] input, x-modal[hidden] button {
    pointer-events: none;
}



/* Since the canvas where the processed images are shown is behind everything else,
 * we'll make the browser ignore mouse events in the deck, but explicitly allow them
 * on the input elements we care about
 */
#app > section, #additionalControls {
    -webkit-pointer-events: none;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#switchVideo, #gallery, #details, #btnVideoCancel, #btnVideoDone, #cameraCoachMarks, #filePicker, #btnFilePicker, #additionalControls > * {
    -webkit-pointer-events: auto;
    pointer-events: auto;
}

.non_selectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

.modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
