@font-face {
    font-family: 'Roboto Condensed';
    src: url(fonts/Roboto-Condensed.ttf);
}

@font-face {
    font-family: 'Roboto Regular';
    src: url(fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    position: relative;
}

body {
    overflow: hidden;
    color: #fff;
    background: #000;
    font-family: 'Roboto Regular', Helvetica, Arial, sans-serif;
}

#app {
    border: 0 none;
}

x-appbar {
    background: rgba(0, 0, 0, 0.3);
}

#btnGallery {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

#btnGallery.hidden {
    opacity: 0;
}

h1 {
    font-weight: normal;
    font-size: 2rem;
    padding: 0.25rem 0;
    font-family: 'Roboto Condensed';
    text-align: center;
}

h1 span {
    color: #e58f33;
}

#app x-deck {
    width: 100%;
    height: 100%;
}

#app x-card {
    overflow: auto;
}

#gallery footer, #camera footer {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

#camera {
    text-align: center;
}


