* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	color: #fff;
	background: #000;
}

#wrapper {}
	#wrapper > canvas {
		display: block;
		margin: 0 auto;
	}

.modal {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.error {
	border: 3px solid red;
	padding: 2rem;
	font-family: "Courier New", Courier, Monospace, mono;
	background: #ffefef;
}
