.toast {
    position: absolute;
    bottom: 3rem;
    left: 0;
    -webkit-transition: 2s ease-out;
    transition: 2s ease-out;
    opacity: 1;
    text-align: center;
    width: 100%;
    z-index: 1000;
}
    .toast.hidden {
        opacity: 0;
    }
    
    .toast span {
        background: rgba(50, 50, 50, 0.8);
        color: #ccc;
        padding: 1rem;
        border: 1px solid #fff;
    }


