x-switch {
	display: inline-block;
	position: relative;
	border: 1px solid;
	text-align: center;
	font-family: monospace;
	overflow: hidden;
	cursor: pointer;
}

x-switch[disabled] {
    opacity: 0.5;
}

x-switch > div {
	display: table;
	overflow: hidden;
}

x-switch > div > div {
	display: table-cell;
	width: 0;
	vertical-align: middle;
}

x-switch > div > div:not(.x-switch-knob) {
	visibility: hidden;
}

.x-switch-text {
	padding: 2px 4px;
	white-space: nowrap;
}

.x-switch-text:before,
x-switch > div > .x-switch-knob:last-child .x-switch-text:last-child:after {
	display: block;
	content: attr(ontext);
}

.x-switch-text:after,
x-switch > div > .x-switch-knob:last-child .x-switch-text:last-child:before {
	display: block;
	content: attr(offtext);
}

.x-switch-text:after {
	height: 0 !important;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	border-top: 0 !important;
	border-bottom: 0 !important;
	overflow: hidden !important;
	visibility: hidden !important;
}

.x-switch-knob {
	display: table;
	width: 20px;
	height: 100%;
	background: black;
}

x-switch > div > .x-switch-knob:last-child {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: -webkit-transform 0.3s ease, left 0.3s ease;
	-moz-transition: -moz-transform 0.3s ease, left 0.3s ease;
	-ms-transition: -ms-transform 0.3s ease, left 0.3s ease;
	-o-transition: -o-transform 0.3s ease, left 0.3s ease;
	transition: transform 0.3s ease, left 0.3s ease;
}

x-switch > div > .x-switch-knob:last-child > div {
	display: table;
	position: absolute;
	height: 100%;
	left: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
}

x-switch > div > .x-switch-knob:last-child > div > div {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

x-switch[checked] > div > .x-switch-knob:last-child {
	left: 100%;
	-webkit-transform: translate(-100%);
	-moz-transform: translate(-100%);
	-ms-transform: translate(-100%);
	-o-transform: translate(-100%);
	transform: translate(-100%);
}

.x-switch-background {
	background: -webkit-linear-gradient(left, limegreen 50%, tomato 50%);
	background: -moz-linear-gradient(left, limegreen 50%, tomato 50%);
	background: -ms-linear-gradient(left, limegreen 50%, tomato 50%);
	background: -o-linear-gradient(left, limegreen 50%, tomato 50%);
	background: linear-gradient(left, limegreen 50%, tomato 50%);
}

/*** WEBKIT HACK
Background color state switching workaround for overflow clipping render bug in WebKit: https://bugs.webkit.org/show_bug.cgi?id=77572 - http://code.google.com/p/chromium/issues/detail?id=157218
This was coded in such a way that it will gracefully upgrade to the better behavior when WebKit gets its shit together
***/

.x-switch-background {
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0));
}

x-switch {
	background: tomato;
	-webkit-transition: background-color 0.25s ease;
}

x-switch[checked] {
	background: limegreen;
}

/*** END WEBKIT HACK ***/

